@model LocalShowsOnly.Models.Event




@using (Html.BeginForm("Create",
       "Events",
       FormMethod.Post,
       new { enctype = "multipart/form-data" }))

{

    <h4>Event</h4>



    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
            <label asp-for="hostId" class="control-label"></label>
            <input asp-for="hostId" class="form-control" />
            <span asp-validation-for="hostId" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="title" class="control-label">Event Title</label>
                    <input asp-for="title" class="form-control" />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="venueId" class="control-label">Venue</label>
                    <select asp-for="venueId" class="form-control" asp-items="ViewBag.Venues"></select>
                </div>
                <div class="form-group">
                    <label asp-for="showtime" class="control-label">Date & Time</label>
                    <input asp-for="showtime" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                    <span asp-validation-for="showtime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price" class="control-label">Ticket Price</label>
                    <input asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="externalLink" class="control-label">Event Link (Optional)</label>
                    <input asp-for="externalLink" class="form-control" />
                    <span asp-validation-for="externalLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Description</label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="photoURL" class="control-label">Event Image</label>
                    <input type="file" name="file" id="file" required="required" />
                    @*<span asp-validation-for="photoURL" class="text-danger"></span>*@
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
