@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bands Next Door!</h1>
    <p>Bands Next Door is a community driven tool to help music enthusiasts find local music shows in Nashville.</p>
</div>
