@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bands Next Door!</h1>
    <p>Bands Next Door is a community driven tool to help music enthusiasts find local music shows in Nashville. As of now, the main focus of this project is to provide a fast, easy resource to for people to stay connected with what's going on in small to mid-level clubs and venues.</p>
</div>
